p{
    font-family:"times new roman"papyrus, Georgia, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;

}
button{
    padding: 20px;
    margin: 50px;
}
img{
    width: 150px;
}
#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#img-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
p{
    font-family: "bonheur rotale", cursive;
font-weight: 400;
font-style: normal;
}

#hidden{
    display: none;
}