<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Template</title>
</head>
<body>
    <h1>First Flask Project</h1>
    <form method="POST">
        <label for="name">enter your name:</label>
        <input type="text" name="name" placeholder="name">
        <br>
        <input type="sumbit" value="submit">
    </form>
    <img src="https://i.kym-cdn.com/entries/icons/newsfeed/000/055/732/wabi-sabi.jpg" alt="wabi sabi">
    <style>
        img{
            height: 150px;
            width: auto;
        }
    </style>
</body>
</html>